<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birthday App</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <main>
        <div class="birhtday">
            <h1>
                Birthdays
            </h1>
        </div>

        <h3 class="h3tag">Add a Birthday</h3>

        <form class="row  row-cols-lg-auto g-1 formelements" action="/save_form_data" , method="post">

            <div class="col-4">
                <label class="visually-hidden" for="inline-form-email">Email</label>
                <input type="text" placeholder="name" name="name">
            </div>
            <div class="col-4">
                <label class="visually-hidden" for="inline-form-email">Email</label>
                <input type="text" placeholder="month" name="month">
            </div>
            <div class="col-4">
                <label class="visually-hidden" for="inline-form-email">Email</label>
                <input type="text" placeholder="day" name="day">
            </div>

            <div class="col">
                <button type="submit" class="btn btn-primary">Add Birthday</button>
            </div>
        </form>

        {% if birthdays|length > 0 %}
        <h3 class="h3tag">All Birthdays</h3>
        {% else %}
        <div></div>
        {% endif %}
        <div class="container">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Birthday</th>
                    </tr>
                </thead>
                <tbody>
                    {% for birthday in birthdays %}
                    <tr>
                        <td>{{birthday.name}}</td>
                        <td>{{birthday.day}}/{{birthday.month}}</td>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>